@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/fuente-texto/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fuente-texto/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fuente-texto/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fuente-texto/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fuente-texto/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Luckiest Guy';
  src: url('/fuente-titulos/LuckiestGuy.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #632D90;
  --color-primary-light: #EBE5F2;
  --color-primary-dark: #4B1A70;
  --font-display: "Luckiest Guy", cursive;
  --font-sans: "Poppins", sans-serif;
}

/* Custom global rules */
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #1C1A14;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

.title-luckiest {
  font-family: var(--font-display);
}